node_modules/
dist/
.env
.env.local
*.local
.DS_Store
frontend/node_modules/
frontend/dist/
frontend/.vite/deps
notes.txt

# Terraform bestanden negeren
terraform/.terraform/
*.tfstate
*.tfstate.*
*.tfvars

gitlab_oege_key
gitlab_oege_key.pub